.container {
	margin: 0 auto;
	max-width: 1018px;
}

.films-titleBlock {
	margin-top: 47px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.more__btn {
	display: flex;
	align-items: center;
}

.more__btn-text {
	color: white;
	font-size: 16px;
	font-weight: 600;
}

.more__btn-img {
	width: 10px;
	height: 11px;
	margin-right: 20px;
}

.films-title {
	color: white;
	font-size: 28px;
	font-weight: 500;
}

.films-list {
	display: grid;
	justify-content: center;
	grid-template-columns: repeat(4, 230px);
	column-gap: 30px;
	row-gap: 40px;
}

.films-line {
	max-width: 1000px;
	width:100%;
	height: 4px;
	background: linear-gradient(to right, red, black);
	margin-top: 20px;
	margin-bottom: 35px;
}

.pagination__block{
	display: flex;
	margin-top: 35px;
	margin-bottom: 20px;
	align-items: center;
	justify-content: center;
}

.pagination__block-item{
	padding: 15px 20px;
	border-radius: 20px;
	background-color: white;
	color:black;
	cursor: pointer;
	margin-left: 20px;
	text-align: center;
}

.pagination__block-item:hover{
	background-color: rgb(99, 5, 5);
	color:black;
}

.active{
	background-color: rgb(99, 5, 5);
	color: black;
}

.notActive{
	background-color: white;
	color: black;
}


@media screen and (max-width:1300px){
	.films-list {
			display: grid;
			grid-template-columns: repeat(3, 230px);
			column-gap: 30px;
			row-gap: 40px;
		}

}

@media screen and (max-width:1000px) {
	.films-list {
		display: grid;
		grid-template-columns: repeat(2, 230px);
		column-gap: 30px;
		row-gap: 40px;
	}

}

@media screen and (max-width:700px) {
	.films-list {
		display: grid;
		grid-template-columns: repeat(2, 180px);
		column-gap: 20px;
		row-gap: 30px;
	}

}

@media screen and (max-width:550px) {
	.films-list {
		display: grid;
		grid-template-columns: repeat(1, 1fr);
		row-gap: 30px;
		justify-items: center;
	}

}


